<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for mensagens in messages %}
                 <div class="alert alert-success alert-dismissable" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="close">
                           <span aria-hidden="true">x</span>
                      </button>
                      {{ mensagens }}
                 </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data">
       {# {{ formObj.csrf_token}} #}
       {# {{ formObj.image }} #}
        <input type=file name=file>
        <button type="submit"> Upload </button>

    </form>
</body>
</html>