{% extends 'base.html' %}

{% block body %}



<div class="container text-center">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="" method="POST" class="form-signin">
                <h1 class="h2 mb-2 display-4 font-weight-normal pb-3">Login</h1>

                    {% with mensagens = get_flashed_messages() %}
                        {% if mensagens %}
                            {% for message in mensagens %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="border border-success alert alert-success alert-dismissable" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                                <span aria-hidden="true">x</span>
                                            </button>
                                            <h5><span class="oi oi-check" aria-hidden="true"></span> {{ message }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}


                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="teste@hotmail.com" required autofocus>
                </div>
                <div class="form-group">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="teste321@" required>
                </div>
                <div class="form-group">
                    <label>
                        <a href="{{url_for('login.register')}}">Se ainda não tem login, clique aqui para se registrar!!!</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-block btn-primary"><span class="oi oi-account-login" title="icon name" aria-hidden="true"></span> Enviar </button>
                <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
            </form>
        </div>
    </div>
</div>

<script>

    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500,
        function(){
            $(this).remove();
        });
     }, 2000);
</script>


{% endblock %}